*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}
:root{
    --fuente: "Roboto";
    --color-titulo:#ffca08;
    --color-fondo: linear-gradient(to bottom,#4D8487,#48797D );
}
